<div class="row">

	<h1 class="splash-heading">TypeDasher<h1>

  <div class="splash-option">
		<h2 id="sign_in hidden">
			<a class="btn btn-info buttoning" href="/session/new">Sign In</a>
		</h2>
	</div>

  <div class="splash-option">
			<a class="btn btn-info buttoning" href="/session/new">Sign Up</a>
	</div>

  <div class="splash-option">
		<a href="#heats/new_normal" class="btn btn-danger btn-large guest-btn" role="button">
			Race As A Guest
		</a>
	</div>
</div>