<form role="form" class="form-inline" action="<%= url %>" method="post" >
  <input type="hidden" name="authenticity_token" type="<%= form_authenticity_token %>">

	<div class="form-group">
  <label for="username">Username</label>
  <input class="form-control"
				 id="username"
				 name="user[username]"
	       type="text"
				 value="<%= user.username %>" >
	</div>

	<br>
	<br>


	<div class="form-group">
  <label for="password">Password</label>
  <input class="form-control"
				 id="password"
	       name="user[password]"
	       type="password"
				 value="">
	</div>

	<br><br>

  <button type="submit" value="Continue &rarr;" class="btn btn-success">
  	Let's Get Racing!
  </button>
</form>