<form class="form-inline" role="form">
	<div class="form-group">
		<label for="user-input" class="race_text">
			<div id="game-text" class="unselectable">
				<span id="current-word">
					<%= words[0] %></span><%= " " + words.slice(1).join(" ") %>
			</div>
		</label>
<p>
		<div class="form-group">
			<input type="text"
			       value=""
						 id="user-input"
						 class="user-input form-control"
						 disabled="disabled"
						 placeholder="Get Ready To Type!">
		 </div>
	 </div>
	 </p>
</form>