<button class="start-new-game">Race Again?</button>

DEM SCORES DOH
<header class="highscore-header">
<span class="race-all-time-scores">Fastest Typists</span>
<span class="race-personal-scores">My Scores</span>
</header>

<table class="show-scores">
	<% if (list.length !== 0) { %>
		<tr>
			<th>User</th><th>Speed</th>
		</tr>
		<% list.forEach(function(score) { %>
			<tr>
			<td><%- score.username %></td><td><%= score.wpm %> wpm</td>
			</th>
		<% }) %>
	<% } else { %>
		You have to race more and be signed in to see your top scores!
	<% } %>

</table>