<div id="race-track" class="col-md-12"></div>

<div id="game-board" class="col-md-8 col-md-offset-2"></div>
<div id="count-down" class="col-md-1 well well-sm">...</div>
<div id="waiting" class="col-md-12">
  Waiting for players... (<a href="/#heats/practice">Practice</a>)
</div> 


<div id="chat-box" class="12"></div>

<div id="score-board" class="col-md-12"></div>