<div id="race-track" class="col-md-12"></div>

<div id="game-timer" class="col-md-12"></div>

<div id="count-down" class="col-md-12"></div>

<div id="game-board" class="col-md-8 col-md-offset-2"></div>

<div id="score-board" class="col-md-12"></div>
