RACING

<div class="track">
</div>

<div id="game-timer"></div>

<div id="count-down"></div>

<div id="game-text">
	<span id="current-word"><%= words[0] + " " %></span><%= words.slice(1).join(" ") %>
</div>

<form>
	<input type="text" value="" class="user-input">
</form>
