DA GAMEBOARD
<table class="racer" data-racer-id="<%= racer.racer_id %>">
	<tr>
		<td class="racer_name"><%= racer.racer_name %></td>
		<td clas="racer_car"> <img alt="Megaman" src="/assets/<%= racer.racer_img %>"></td>
	</tr>
</table>